<div class="flex justify-center h-screen w-screen bg-neutral-900">
  <div
    class="relative flex flex-col justify-center text-center w-full h-3/5 items-center"
  >
    <div class="text-white text-3xl lg:text-4xl xl:text-5xl">
      Who wants to watch Netflix?
    </div>
    <div class="flex flex-col justify-center items-center mt-5">
      <a
        href="#"
        class="block max-w-sm p-6 bg-transparent rounded-lg shadow hover:bg-gray-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-neutral-500"
        >
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z"
            clip-rule="evenodd"
          />
        </svg>
      </a>
      <div class="text-lg font-thin text-neutral-500">Add new profile</div>

    </div>
  </div>
</div>
