<div class="flex justify-center h-screen w-screen bg-neutral-900">
  <div
    class="relative flex flex-col pt-20 lg:pt-24 xl:pt-20 text-center w-10/12 lg:w-3/5"
  >
    @if (profile !== undefined) {
    <div
      class="text-white tabl text-start font-thin text-4xl lg:text-5xl xl:text-6xl w-full"
    >
      Edit profile
    </div>
    <div class="flex w-full h-full border-neutral-700 border-t-[1px]">
      <div class="grid grid-cols-12 mt-5">
        <div class="col-span-3">
          <img [src]="profile?.image" class=" w-20 h-20" />
        </div>
      </div>
    </div>
    }
  </div>
</div>
