<nav class="bg-transparent relative top-0 left-0 xl:px-36">
    <div class="flex justify-start mx-auto p-6">
        <a routerLink="/"><img src="../../../assets/img/Logonetflix.png" class="w-[89px] sm:w-[89px] lg:w-[148px]"></a>
    </div>
</nav>
<div
    class="absolute inset-0 h-screen w-auto -z-10 sm:bg-[url('assets/img/homebg.jpg')] bg-cover bg-no-repeat opacity-50">
</div>
<div class="relative sm:bg-black sm:bg-opacity-75 sm:w-[450px] sm:p-10 m-auto rounded mb-10">
    <div class="flex-col px-7 opacity-100 mb-20">
        <p class="text-white text-3xl font-extrabold">Sign In</p>

        <div class="text-center pt-6">
            <div class="relative">
                <input type="text" placeholder=" "
                    class="text-white w-full px-4 py-4 text-base rounded-md border-neutral-600 border-[0.1px] bg-neutral-900 bg-opacity-80 focus:ring-white focus:border-white placeholder:text-gray-300 peer">
                <label for="floating_filled"
                    class="absolute text-base text-neutral-300 duration-300 transform -translate-y-4 scale-75 top-4 left-5 z-10 origin-[0] start-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Email or phone number</label>
            </div>
        </div>
        <div class="text-center pt-6">
            <div class="relative">
                <input type="password" placeholder=" "
                class="text-white w-full px-4 py-4 text-base rounded-md border-neutral-600 border-[0.1px] bg-neutral-900 bg-opacity-80 focus:ring-white focus:border-white placeholder:text-gray-300 peer">
                <label for="floating_filled"
                    class="absolute text-base text-neutral-300 duration-300 transform -translate-y-4 scale-75 top-4 left-5 z-10 origin-[0] start-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
            </div>
        </div>
        <div class="text-center pt-4">
            <button routerLink="/"
                class="bg-[rgb(229,9,20)] hover:bg-[rgb(193,17,25)] w-full rounded-md py-2 sm:py-4 text-base font-thin font-black text-white text-center">
                Sign In </button>
        </div>
        <div class="text-center pt-4">
            <a href="http://" target="_blank"
                class="text-white text-base font-thin hover:underline hover:text-neutral-400">Forgot password?</a>
        </div>
        <div class="pt-20">
            <div class="flex items-center">
                <input checked id="red-checkbox" type="checkbox" value=""
                    class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="link-checkbox" class="ms-2 text-base text-white font-thin">Remember me</label>
            </div>
        </div>

        <div class="pt-4">
            <p class="text-neutral-400 text-base font-thin">New to Netflix? <a href=""
                    class="text-white hover:underline">Sign up now</a>.</p>
        </div>
        <div class="pt-2">
            <p class="text-neutral-400 text-xs font-thin">This page is protected by Google reCAPTCHA to ensure you're
                not a bot. <a href="" class="text-blue-500 hover:underline">Learn more.</a></p>
        </div>
    </div>
</div>

<!-- <hr class="border-1 border-zinc-800"> -->

<div class="sm:bg-black p-7">
    <div class="grid grid-cols-12 lg:px-10 xl:px-28 md:pt-8">
        <div class="col-span-12 h-9 mb-3">
            <p target="_blank" class="text-zinc-300 text-base cursor-pointer">Questions? Contact to us.</p>
        </div>
        @for (item of footer; track $index) {
        <div class="col-span-6 lg:col-span-3 h-9">
            <p target="_blank" class="text-zinc-300 text-sm underline cursor-pointer"> {{item}} </p>
        </div>
        }
        <div class="col-span-12 h-9 pt-3">
            <p target="_blank" class="text-zinc-300 text-base">Netflix Italy</p>
        </div>
    </div>
</div>